@media all and (max-width: 600px) {
   footer {
       height: 190px;
       background-color: #5EAAA8;
       align-items: flex-start;
       justify-content: center;
       align-content: center;
       
   }

   .footer {
    margin-top: 1rem;
    width: 90%;
   }

   .leftContent p {
    font-size: .7rem;
    color: #F7F3E9;
   }

   .rigthContent p {
    font-size: .7rem;
   }
}